node_modules/
.env
.env.local
artifacts/
cache/
typechain-types/
coverage/
coverage.json
frontend/dist/
frontend/.env
frontend/.env.local

# Backend files
backend/database.sqlite
backend/node_modules
backend/.env
backend/coverage
backend/*.log
